<header class="navbar">

  <a (click)="LogOut()" class="logout">LogOut</a>
    <a  class="navbar-brand">
      Hello Manager
    </a>
    <nav class="navbar-navigation">
      <a routerLink="addProject"routerLinkActive="active">Add Project</a>
      <a routerLink="reportsManagement"routerLinkActive="active">Reports Management</a>
       
 
      <a routerLink="changeProjectState"routerLinkActive="active">Change Project State</a>
      <div class="dropdown"style="display: inline" >
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">User Management<b class="caret" ></b></a>
        <ul class="dropdown-menu">
            <li> <a  routerLink="addUser"routerLinkActive="active">Add User</a></li>
            <li> <a routerLink="editUser"routerLinkActive="active">Edit User</a></li>
            <li> <a routerLink="deleteUser"routerLinkActive="active">Delete User</a></li>
        </ul>
      </div>
    </nav>
</header>
   
    
  <router-outlet></router-outlet>