

<div *ngFor="let item of projects" class="proj">
<label class="lab">{{item.ProjectName}}</label>

<div class="container" *ngIf="item.IsActive==true">
  <div class="box-checkbox">
    <input  type="checkbox" name="checkbox1" id="'checkbox1'+{{item.ProjectName}}" checked (change)="changeState(item.ProjectId)">
    <span class="box-checkbox__text">Is Active</span>
    <label class="box-checkbox__label" for="'checkbox1'+{{item.ProjectName}}"></label>
  </div>
</div>


 <div class="container" *ngIf="item.IsActive==false">
  <div class="box-checkbox">
    <input  type="checkbox" name="checkbox1" id="'checkbox1'+{{item.ProjectName}}"  (change)="changeState(item.ProjectId)">
    <span class="box-checkbox__text">Is Active</span>
    <label class="box-checkbox__label" for="'checkbox1'+{{item.ProjectName}}"></label>
  </div>
</div>

</div>

<input type="button" value="Update" (click)="Update()" class="bton">