@charset "UTF-8";
.box-checkbox {
  border: 1px solid brown;
  border-radius: 6px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  width: 100%;
}
.box-checkbox__input {
  display: none;
}
.box-checkbox__input:checked ~ span {
  background: brown;
  color: white;
}
.box-checkbox__input:checked ~ span:before {
  content: "✔";
  display: inline-block;
  margin-right: 3px;
}
.box-checkbox__text {
  background: beige;
  color: brown;
  display: block;
  padding: 10px 20px;
  position: relative;
  transition: all 0.2s ease-out;
  width: 100%;
}
.box-checkbox__label {
  cursor: pointer;
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1;
}

.container {
  margin: 30px auto;
  width: 200px;
}


.proj{
  width: 16%;
  float: left;
}
.lab{
  margin-left: 89px;
}

.bton{
  position: absolute;
  bottom: 10%;
  left: 40%;
}


