
  <form [formGroup]="formGroup">
<div class="box">
  <h1 id="logintoregister">DeleteUser</h1>

<label>Choose the user you wants to delete:</label>
<div class="group">
  <select class="inputMaterial" formControlName="DeleteUser" >
      <option></option>
    <option  *ngFor="let item of allUsers" >{{item.UserName}}</option>
    
  </select>

  <span class="highlight"></span>
  <span class="bar"></span>
  <label>User</label>
</div>



<button id="buttonlogintoregister" (click)=open() >Delete</button>
  
</div>
</form>
<div class="example-wrapper" *ngIf="opened">
  <button kendoButton *ngIf="!opened" (click)="open()">Open dialog</button>
  <kendo-dialog title="Please confirm" *ngIf="opened" (close)="close('cancel')" [minWidth]="250" [width]="450">
      <p style="margin: 30px; text-align: center;">Are you sure you want to delete {{formGroup.value.DeleteUser}} ?</p>
      <kendo-dialog-actions>
          <button kendoButton (click)="close('no')">No</button>
          <button kendoButton (click)="close('yes')" primary="true">Yes</button>
      </kendo-dialog-actions>
  </kendo-dialog>
</div>
<p-toast></p-toast>