/*
*
* Colors : flatuicolors.com/palette/cn
* Image : Photo by Myke Simon on Unsplash
* Emoji Font : afeld.github.io/emoji-css/
* Font : Google Font - Lato
*
*/
/* @import url("https://fonts.googleapis.com/css?family=Lato:400,700");
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 2em;
  background-color: #f4f9fc;
}

a {
  color: inherit;
}

p {
  color: inherit;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #848484;
  color: #f4f4f4;
  -webkit-box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.04);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.navbar a {
  text-decoration: none;
  margin: 0 15px;
}
.navbar a:hover {
  color: #ff4757;
  transition: color .5s;
}

.navbar-brand {
  float: left;
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.content {
  font-size: 15px;
  text-align: justify;
  background-color: white;
  padding: 35px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.04);
  margin: 50px 50px;
  animation: animSlide 2s;
}
.content .title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-align: left;
}
.content .title i {
  font-size: 20px;
  margin: 0 15px 5px 0;
}
.content .image {
  max-width: 100%;
  border-radius: 5px;
  animation: animSlide 2s;
}

/* Medias Queries */
@media screen and (max-width: 500px) {
  .navbar {
    justify-content: center;
  }
}
@media screen and (max-width: 335px) {
  .navbar-brand {
    display: block;
  }

  .navbar {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 715px) {
  .content {
    margin: 20px 10px;
  }
  .content .title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: center;
  }
  .content .title i {
    font-size: 20px;
    margin: 0 15px 5px 0;
  }
}

@keyframes animSlide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
.table-title {
    margin: 50px auto;
    max-width: 600px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 2.5em;
    color: #222;
  }
  
  .employees-table {
    margin: 50px auto;
    max-width: 600px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .employees-table-head th {
    padding: 15px 15px;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 700;
    color: #f1f1f1;
    background: #222;
  }
  
  .employees-table-body tr{
    background: #fff;
    transition: ease-in-out .3s;
  }
  
  .employees-table-body tr:nth-child(even) {
    background: #fafafa;
  }
  
  .employees-table-body tr:hover {
    background: #222;
    color: #f1f1f1;
  }
  
  .employees-table-body td{
    padding: 15px 15px;
    font-size: .9em;
    font-weight: 600;
    cursor: pointer;
  }
  
  .employees-table-body tr i{
    color: transparent;
    transition: ease-in-out .3s;
  }
  
  .employees-table-body tr:hover i {
    color: #e74c3c;
  }
  
  .employees-table-body tr i:hover {
    color: #c0392b;
  }
  
  @media screen and (max-width: 600px) {
    .table-title {
      margin-bottom: 0;
    }
    
    .employees-table {
      box-shadow: none;
      margin: 0;
    }
    
      .employees-table,
    .employees-table-head,
    .employees-table-body,
    .employees-table-head th,
    .employees-table-body td,
    .employees-table-body tr {
          display: block;
      }
    
    .employees-table-head tr{
      display: none;
    }
    
    .employees-table-body tr {
      margin: 40px 10px;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
    
    .employees-table-body td {
      position: relative;
          border: none;
          border-bottom: 1px solid #eee; 
          padding-left: 50%;
      }
    
    .employees-table-body td:before { 
          position: absolute;
      content: '';
          top: 0;
          left: 0;
      height: 100%;
          width: 40%; 
      background: #222;
      }
    
    .employees-table-body td:after {
      position: absolute;
      color: #fff;
      text-transform: uppercase;
      font-size: .9em;
      top: 15px;
      left: 15px;
      height: 100%;
          width: 40%;
      white-space: nowrap;
    }
    
      .employees-table-body td:nth-of-type(1):after { content: "First Name"; }
      .employees-table-body td:nth-of-type(2):after { content: "Last Name"; }
      .employees-table-body td:nth-of-type(3):after { content: "Job Title"; }
    
    .employees-table-body td:last-child {
          border-bottom: none;
      }
    
    .employees-table-body tr:hover {
      background: #fff;
      color: #222;
    }
    
    .employees-table-body tr i{
    color: #e74c3c;
    transition: ease-in-out .3s;
  }}


 a {color:white;}