<html>
  <form [formGroup]="formGroup">
<div class="box">
  <h1 id="logintoregister">Create new password:</h1>


 
<div class="group">      
  <input class="inputMaterial" type="password"  formControlName="userPassword">
  <span class="highlight"></span>
  <span class="bar"></span>
  <label>Password</label>
  </div>

  <div *ngIf="formGroup.controls['userPassword'].errors&&formGroup.controls['userPassword'].touched">
      <p *ngFor="let err of obj.values(formGroup.controls['userPassword'].errors)">{{err}}</p>
  </div>

 
<button id="buttonlogintoregister" (click)=submitLogin() [disabled]="formGroup.invalid">Save</button>
  
</div>
</form>

</html>
